* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-grid {
  height: 100vh;
  display: grid;
  grid-template: 120px / 1fr 4fr;
}

.header {
  grid-column: 2 / 3;
  background-color: gainsboro;
  padding: 1rem;
  display: grid;
  align-items: center;
}

/* All header rows */
.header > * {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: column;
}

input[type="search"] {
  margin-right: 50px;
  min-width: 400px;
}

/* sidebar */
.sidebar {
  grid-row: 1 / 3;
  background-color: chocolate;
  padding: 1rem;
  display: grid;
  grid-template-rows: 100px;
}

/* main content */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.projects > div:first-of-type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.card > .card-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.side-content {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 1rem;
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: max-content;
}

.announcements > div:first-of-type {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.7rem;
  display: grid;
  gap: 1rem;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: max-content;
}

.trending > div {
  border: 1px solid black;
  padding: 10px;
  display: grid;
  gap: 1rem;
}

.trending-user {
  display: grid;
  grid-template-columns: 50px 1fr;
}
